
body {
    font-family: Arial, Helvetica, sans-serif;
  }

.container {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    justify-items: start end center stretch; /*Alinea el contenido de manera horizontal*/
    align-items: start end center stretch; /* Alinea el contenido de manera vertical*/
}

.item {
background: lightblue;
padding: 10px;
border: solid red;
}

.item:nth-of-type(5) {
    align-self: start;
    justify-self: start;
}

